.event-page{
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

.arrow{
    margin-left: 50px;
    font-size: 2rem;
    font-weight: bold;
   text-align: left;
   box-shadow: beige;
}

.event-container{
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(3);
}

.event-container img{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.event-content{
    display: grid;
    grid-template-areas:
    'title paid date'
    'desc desc desc';
    text-align: left;
    align-items: center;
    margin-left: 310px;
    margin-right: 310px;
    grid-row: 2;
    gap: 20px;
}

#event-title{
    grid-area: title;
    justify-self: start;
    font-size: 3rem;
}
#event-date{
    font-size: 1.5rem;
    grid-area: date;
    justify-self: end;
}

.event-content p{
    grid-area: desc;
    font-size: 1.5rem;
}
.event-content span{
    grid-area: paid;
    font-weight: bold;
    display:inline-flex;
    border-radius: 10px;
    padding: 5px;
    max-width: 80px;
    font-size: 20px;
    justify-content: center;
}
#free{background-color: lightgreen;}

#paid{background-color: lightblue;}